<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Sign up Page</h1>
    <form class="login">
        <input type="text" id="firstName">
        <input type="text" id="lastName">
        <input type="text" id="email">
        <input type="text" id="password">
    </form>
    <label id="ErrorMsg" style="color: red"></label>
</body>
</html>