<!doctype html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="Refresh" content="2" /> -->
    <title>Film view</title>
    <!-- <link rel="stylesheet" href="../../static/User/FilmView/FilmViewStyle.css">
    <link rel="stylesheet" href="../../static/Admin/FilmView/FilmViewStyle.css">
    <link rel="stylesheet" href="../../static/Shared/Auth.css"> -->

    <link rel="stylesheet" th:href="@{User/FilmView/FilmViewStyle.css}">
    <link rel="stylesheet" th:href="@{Admin/FilmView/FilmViewStyle.css}">
    <link rel="stylesheet" th:href="@{Shared/Auth.css}">
</head>
<body>
    <input type="hidden" id="filmID" name="filmID" th:value="${filmID != null ? filmID : ''}">
    <header class="header">
        <div class="headerWrapper">
            <div class="navElem">
                <a th:href="@{/addNewFilm}">add New Film</a>
            </div>
            <div class="navElem">
                <a th:href="@{/AllUsersPage}">All Registrated Users</a>
            </div>
            <div class="navElem">
                <a th:href="@{/AllFilms}">All Films</a>
            </div>
            <div class="navElem" id="logout">
                <a href="#">logout</a>
            </div>
        </div>
    </header>
    <div class="wrapper">
        <div class="content-wrap">
            <div class="content">
                <div class="leftInfo">
                    <div>
                        <div class="poster" id="poster">

                        </div>
                    </div>
                    <!-- <div class="TrailerWrapper">
                        <div class="trailer" id="trailer">
                            <div class="trailerWrapper">
                                <div class="file-input">
                                    
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
                <div class="middleInfo">
                    <form>
                        <div class="row">
                            <div class="titleOfRow">
                                <label>Movie title:</label>
                            </div>
                            <div class="inputValue">
                                <p id="TITLE"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="titleOfRow">
                                <label>Movie original title:</label>
                            </div>
                            <div class="inputValue">
                                <p id="ORIGINAL_TITLE"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="titleOfRow">
                                <label>Year of posting:</label>
                            </div>
                            <div class="inputValue">
                                <p id="YEAR_OF_POSTING"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="titleOfRow">
                                <label>Country:</label>
                            </div>
                            <div class="inputValue">
                                <p id="COUNTRY"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="titleOfRow">
                                <label>Rating IMdB:</label>
                            </div>
                            <div class="inputValue">
                                <p id="RATING_IMDb"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="titleOfRow">
                                <label>Rating KP:</label>
                            </div>
                            <div class="inputValue">
                                <p id="RATING_KP"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="titleOfRow">
                                <label>Box office receipts:</label>
                            </div>
                            <div class="inputValue">
                                <p id="BOX_OFFICE_RECEIPTS"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="titleOfRow">
                                <label>Budget:</label>
                            </div>
                            <div class="inputValue">
                                <p id="BUDGET"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="titleOfRow">
                                <label>Age:</label>
                            </div>
                            <div class="inputValue">
                                <p id="AGE"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="titleOfRow">
                                <label>Viewing time:</label>
                            </div>
                            <div class="inputValue">
                                <p id="VIEWING_TIME"></p>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="rightInfo">
                    <div class="rightInfoWrapper">
                        <div>
                            <div class="GenForm">
                                <div class="type">
                                    <label>Genres></label>
                                </div>
                                <div id="Genres">
                                    <p id="Genre0" class="generatedInput">4</p>
                                </div>
                            </div>
                            <div class="GenForm">
                                <div class="type">
                                    <label>Directors></label>
                                </div>
                                <div id="Directors">
                                    <p id="Director0" class="generatedInput">3</p>
                                </div>
                            </div>
                            <div class="GenForm">
                                <div class="type">
                                    <label>Actors></label>
                                </div>
                                <div id="Actors">
                                    <p id="Actor0" class="generatedInput">2</p>
                                </div>
                            </div>
                            <div class="GenForm">
                                <div class="type">
                                    <label>Interesting facts></label>
                                </div>
                                <div id="Facts">
                                    <p id="Fact0" class="generatedInput">14</p>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
            <div>
                <div class="DescriptionRow">
                    <div class="titleOfDescriptionRow">
                        <label>Description:</label>
                    </div>
                    <div class="textareaValue">
                        <p id="Description"></p>
                    </div>
                </div>
            </div>
            <div class="AddComment">
                <label>leave a comment:</label>
                <textarea id="comment" class="commentArea"></textarea>
                <button id="AddCommentButton">Send</button>
            </div>
            <div class="comments" id = "comments">
                
                <!-- <div class="comment" id = "comment0">
                    <div class="headComment">
                        <div class="userCredentials">
                            <div class="avatar">
                            
                            </div>
                            <label>GoKing</label>
                        </div>
                        <div>
                            <label class="date">05.12.2023</label>
                        </div>
                    </div>
                    <div class="CommentText">
                        <p id="ReviewText">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum velit ratione quod quaerat numquam autem iure totam consectetur doloremque tempore excepturi magnam, quibusdam saepe ullam tenetur harum ea dicta odit?
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam mollitia inventore tempore ea doloremque assumenda eaque autem quidem perferendis pariatur culpa asperiores dolores distinctio ipsa fugiat, optio ab labore vitae?</p>
                    </div> -->



                    <!-- <div class="delBut">
                        <button >delete</button>
                    </div> -->
                </div>
                
            </div>
        </div>
    </div>
    <!-- <script src="../../static/User/FilmView/FilmViewJS.js"></script> -->
    <script th:src="@{Admin/FilmView/FilmViewJS.js}"></script>
    <script th:src="@{/Shared/JwtApi.js}"></script>
    <script th:src="@{/Shared/Blob.js}"></script>
    <script th:src="@{/Shared/LogOut.js}"></script>
</body>
</html>