<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="Refresh" content="2" /> -->
    <title>AddNewFilm</title>
    <link rel="stylesheet" href="../../static/Admin/AddNewFilm/AddNewFilm.css">
    <link rel="stylesheet" th:href="@{Admin/AddNewFilm/AddNewFilm.css}">
    <link rel="stylesheet" th:href="@{Shared/Auth.css}">

</head>
    <header class="header">
        <div class="headerWrapper">
            <div class="navElem">
                <a th:href="@{/addNewFilm}">add New Film</a>
            </div>
            <div class="navElem">
                <a th:href="@{/AllUsersPage}">All Registrated Users</a>
            </div>
            <div class="navElem">
                <a th:href="@{/AllFilms}">All Films</a>
            </div>
            <div class="navElem" id="logout">
                <a href="#">logout</a>
            </div>
        </div>
    </header>
    <body>
        <div >

        </div>
    </body>
</html>
