<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Refresh" content="2" />
    <title>AllUsers</title>
</head>
<body>
    <table class="list">
        <thead>
            <tr>
                <th>Login</th>
                <th>Avatar</th>
                <th>Email</th>
                <th>Password</th>
                <th>User_Role</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    
    <script src="../../static/Admin/AllUsers/AllUsers.js"></script>
    <script th:src="@{/Admin/AllUsers/AllUsers.js}"></script>
</body>
</html>