<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Refresh" content="30" />
    <link rel="stylesheet" href="../../static/MainPage/MainPage.css"/>
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Main Page</h1>
        <a th:href="@{/templates/SignInHTML}">Sign in</a>
        <a th:href="@{/templates/SignUpHTML}">Sign up</a>
        <button id="anon">goto anon</button>
        <button id="user">goto user</button>
        <button id="admin">goto admin</button>
        <button id="logout">log out</button>
    </header>
            <div class="file-input">
                <label for="file-upload">
                  <span class="plus-icon">+</span>
                </label>
                <input id="file-upload" type="file">
            </div>
    <script>
        document.getElementById("user").addEventListener('click',async ()=>{
            let jwtToken = getCookie('jwt');
            console.log(`jwt: ${jwtToken}`)
            fetch('/api/v1/test/users',{
                method:"GET",
                headers:{
                    "Content-type":"application/json",
                    "Accept":"application/json"
                }
            })
            .then(response=>response.json())
            .then(json=>{
                console.log('Response: '+json);
            })
        })

        document.getElementById("admin").addEventListener('click',async ()=>{
            let jwtToken = getCookie('jwt');
            console.log(`jwt: ${jwtToken}`)
            const response = await fetch('/api/v1/test/admins',{
                method:"GET",
                headers:{
                    "Content-type":"application/json",
                    "Accept":"application/json"
                }
            })
            if(response.ok){
                window.location.href = '/api/v1/test/admins';
            }
        })
        document.getElementById("anon").addEventListener('click',async ()=>{
            fetch('/api/v1/test/anon',{
                method:"GET",
                headers:{
                    "Content-type":"application/json",
                    "Accept":"application/json"
                }
            })
            .then(response=>response.text())
            .then(json=>{
                console.log('Response: '+json);
            })
        })
    </script>
    <script th:src="@{/Shared/JwtApi.js}"></script>
    <script th:src="@{/Shared/LogOut.js}"></script>
</body>
</html>