*{
    margin: 0;
    padding: 0;
    /* background-color: #ccc; */
}
a{
    cursor: pointer;
}
/*header*/
.header{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 40px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerWrapper{
    display: flex;
    justify-content: space-between;
    width: 64%;
    padding-left: 3.9%;
    padding-right: 3.1%;
}


.navElem{
    display: flex;
    align-items: center;
}
.headerWrapper a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
}


/*body*/
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
}
.content-wrap{
    padding-top: 15px;
    padding-bottom: 40px;

    width: 64%;
    background-color: #ffffff;
}
.content{
    display: flex;
    margin-left: px;
    align-items: stretch;
}
/*left column info*/
.leftInfo{
    width: 33.3%;
}
/*Poster*/

.leftInfo div{
    width: 80%;
    margin: auto;
   
}
.leftInfo div label{
    display: block;
    text-align: center;
}
.poster{
    border: 2px solid #cccccc;
    height: 400px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.posterWrapper{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.file-input img{
    width: 30px;
    height: 30px;
    cursor: pointer;

}

.file-input {
    position: relative;
    display: inline-block;
}
  
#posterInput {
    display: none;
}
#trailerInput{
    display: none;
}
  
.upload-text {
    margin-left: 8px;
    cursor: pointer;
}

/*Trailer*/

.trailer{
    border: 2px solid #cccccc;
    height: 160px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.TrailerWrapper{
    display: block;
    padding-top: 15px;
}


/*middle column info*/
.middleInfo{
    width: 33.3%;
}
.middleFieldsView{
    margin-top: 15px;
}
.row{
    display: flex;
    flex-direction: row;
    font-size: 10px;
}
.DescriptionRow{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    margin-left: 6%;
}
.titleOfRow{
    width: 35%;
    display: flex;
    align-items: center;
}
.titleOfDescriptionRow{
    width: 10%;
    display: flex;
    align-items: center;
}
.inputValue{
    width: 65%;
    display: flex;
    align-items: center;
}
.textareaValue{
    width: 90%;
    display: flex;
    align-items: center;
}
textarea{
    width: 100%;
    margin-right: 5.2%;
    height: 150px;
}
.row:first-child{
    margin-top: -10px;
}
.row{
    margin-top: 23px;
}
label{
    margin-right: 6px;
}
.row input[type=text]{
    border: 0px;
    border-bottom: 2px solid #cccccc;
    border-radius: 0px;
    width: 100%;
    font-size: 11px;
    padding: 2px;
}

.inputValue{
    height: 40px;
}
.row input[type=text]:focus {
    outline: none;
    border-bottom: 2px solid #2982ff;
    
}

/*right column info*/
.rightInfo{
    width: 33.3%;
}
.generatedInput{
    border: 0px;
    border-bottom: 2px solid #cccccc;
    width: 100%;
    font-size: 11px;
    padding: 2px;
}
.generatedInput:focus{
    outline: none;
    border-bottom: 2px solid rgb(91, 157, 170)
}
.rightInfoWrapper{
    padding-left:12%;
    padding-right: 12%;
}
.GenForm{
    margin: 4px;
}
.addNewInput{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
.addNewInput button#addNewDirectorInput,
.addNewInput button#addNewActorInput,
.addNewInput button#addNewFactInput{
    background-color: #0470aa;
    border: none;
    color: white;
    padding: 6px 25px;
    width: 65%;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 9px;
}
.addNewInput button#deleteNewDirectorInput,
.addNewInput button#deleteNewActorInput,
.addNewInput button#deleteNewFactInput{
    background-color: red;
    border: none;
    color: white;
    padding: 6px 25px;
    width: 35%;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 9px;
}


.type{
    font-size: 13px;
}
.sendBtn{
    display: flex;
    margin-top: 10px;
    justify-content: flex-end;
    padding-right: 4.2%;
}

.sendBtn button{
    background-color: #1daa04;
    border: none;
    color: white;
    padding: 6px 25px;
    width: 25%;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 10px;
}