<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="Refresh" content="2" /> -->
    <title>AddNewFilm</title>
    <!-- <link rel="stylesheet" href="../../static/Shared/Auth.css"> -->
    <!-- <link rel="stylesheet" href="../../static/User/MainPage/MainPageStyle.css"> -->

    <link rel="stylesheet" th:href="@{User/MainPage/MainPageStyle.css}">
    <link rel="stylesheet" th:href="@{Shared/Auth.css}">

</head>
    <header class="header">
        <div class="headerWrapper">
            <div class="navElem">
                <a th:href="@{/UserMainPage}">Main Page</a>
            </div>
            <div class="navElem">
                <a th:href="@{/addNewFilm}">Liked</a>
            </div>
            <div class="navElem">
                <a th:href="@{/addNewFilm}">Saved</a>
            </div>
            <div class="navElem">
                <a th:href="@{/AllUsersPage}">Settings</a>
            </div>
            <div class="navElem" id="logout">
                <a href="#">logout</a>
            </div>
        </div>
    </header>
    <body>
        <div class="wrapper">
            <div class="content-wrap">
                <div class="content">
                    <div class="nav">
                        <div class="Find">
                            <label>Найти:</label>
                            <input id="nameOfFilm" type="text">
                            <img id = "Find" class="lupafind" th:src="@{/images/lupa.png}">
                        </div>
                        <div class="sorting">
                            <p>Сортировать по: </p>
                            <div class="categories">
                                <p id="alphabet">Названию</p>
                                <p id="Genre">Жанру</p>
                                <p id="viewingTime">Времени просмотра</p>
                                <p id="country">Стране</p>
                            </div>
                        </div>
                    </div>
                    <div class="films" id = "films">
                        <!-- <hr>
                        <div class="film" id="film0">
                            <div class="film-id">
                                <h3 id="film-id">1</h3>
                            </div>
                            <div class="poster" id="poster-film0">    
                            </div>
                            <div class="briefInformation">
                                <h4 class="title">Зеленая Миля</h4>
                                <div class="Row2">
                                    <p id="OriginalName">The Green Mile,</p>
                                    <p id="Date">1999,</p>
                                    <p id="ViшewingTime">189 мин.</p>
                                </div>
                                <div class="Row3">
                                    <p id="Country">США • </p>
                                    <p id="FilmGenre">драма</p>
                                    <p id="Director">Режиссёр: Фрэнк Дарабонт</p>
                                </div>
                                <div class="Row4">
                                    <p id="Actors">В ролях: Том Хэнкс, Дэвид Морс</p>
                                </div>
                            </div>
                            <div class="otherActions">
                                <div class="rating">
                                    <div class="KP">
                                        <label class="editorial">KP:</label>
                                        <label class="mark">1</label>
                                    </div>
                                    <div class="IMdB">
                                        <label class="editorial">IMdB:</label>
                                        <label class="mark">2</label>
                                    </div>
                                </div>
                                <div class="Buttons">
                                    <button class="EditButton" id="EditFilm">edit</button>
                                    <button class = "DeleteButton"id="DeleteFilm">delete</button>
                                </div>
                            </div>
                        </div> -->
                        
                    </div>
                </div>
            </div>
        </div>
        <script th:src="@{User/MainPage/MainPageJS.js}"></script>
        <script th:src="@{/Shared/Blob.js}"></script>
        <script th:src="@{/Shared/LogOut.js}"></script>
        <script th:src="@{/Shared/JwtApi.js}"></script>
    </body>
</html>
